openapi: 3.0.3
info:
  title: Collection 1
  description: A collection of API's to replace AeroParker's API's
  version: 1.0.0

servers:
  - url: https://slsdev.rezcommsls.com/v1/reports

tags:
  - name: Bookings
    description: Contains API's for Reporting of Bookings.

paths:
  /bookings:
    get:
      summary: Get booking reports
      description: Retrieve booking reports based on filters
      tags:
        - Bookings
      parameters:
        - $ref: '#/components/parameters/accessId'
        - $ref: '#/components/parameters/accessKey'
        - name: brandId
          in: query
          schema:
            type: string
          description: The size of brandId must be 3 characters long. Only RDU is allowed.
          example: 'HER'
        - name: queryBy
          in: query
          schema:
            type: string
          description: The predicate used to filter the records in the response.
          example: 'valid_from'
        - name: start
          in: query
          schema:
            type: string
            format: date
          description: Start date and time for filtering records.
          example: '2023-05-17T00:00:00'
        - name: end
          in: query
          schema:
            type: string
            format: date
          description: End date and time for filtering records.
          example: '2023-05-17T23:59:59'
        - name: fields
          in: query
          schema:
            type: string
          description: List of fields to include in the response.
          example: 'orderreference,uuid,first_name'
        - name: recordsPerPage
          in: query
          schema:
            type: number
          description: Limit the number of results per page in the result set.
          example: 10
        - name: pageNumber
          in: query
          schema:
            type: number
          description: If included in the query string, the result set will contain records for the given page number.
          example: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking'

components:
  parameters:
    accessId:
      name: secret_id
      in: header
      schema:
        type: string
      example: 'a0d551b07a8704cff0ef96c9f14c9fa9'
    accessKey:
      name: secret_key
      in: header
      schema:
        type: string
      example: 'your_access_key'

  schemas:
    Booking:
      type: object
      properties:
        orderreference:
          type: string
          description: Rezcomm Order Reference
        uuid:
          type: string
          description: Unique Customer Identification Number
        cpms_reference:
          type: string
          description: CPMS Reference from CPMS Provider for Parking bookings
        product:
          type: string
          description: Type of product – CPK/LNG/FTT (Parking/Lounge/Fasttrack)
        orderdate:
          type: string
          format: date-time
          description: Date of Order
        first_name:
          type: string
          description: Customer First Name
        last_name:
          type: string
          description: Customer Last Name
        email:
          type: string
          description: Customer Email
        city:
          type: string
          description: Customer Address City
        post_code:
          type: string
          description: Customer Address Post Code
        mobilenumber:
          type: string
          description: Customer Mobile Number
        email_consent:
          type: boolean
          description: Customer Marketing Consent for Email – True/False
        vehicle_vrn:
          type: string
          description: Vehicle Registration Number for Parking Bookings
        carpark_name:
          type: string
          description: Carpark Name for parking bookings
        ordertotal:
          type: number
          description: Total Order Value
        pspreference:
          type: string
          description: Payment Service Provider Payment Reference
        amenddate:
          type: string
          format: date-time
          description: Date order  was Amended in case order status is Amended
        canceldate:
          type: string
          format: date-time
          description: Date order  was Cancelled in case order status is Cancelled
        voucher:
          type: string
          description: Discount Voucher in case used
        made_as:
          type: string
          description: Customer made order as guest or member
        orderstatus:
          type: string
          description: Status of Order
        discount_amount:
          type: number
          description: Discount Amount in case Voucher was used
        valid_from:
          type: string
          format: date-time
          description: Parking Booking Valid from Date
        start_time:
          type: string
          description: Parking Booking Valid from Time
        valid_till:
          type: string
          format: date-time
          description: Parking Booking Valid till Date
        end_time:
          type: string
          description: Parking Booking Valid till Time
